/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

body {
    background-color: #f1f1f1;
    font-family: Georgia, Helvetica, sans-serif;
}

.postBanner {
    height: 300px;
    width: inherit;
    padding-bottom: 20px;
    background-color: white;
    margin: 15px 0;
}

.postBanner img {
    height: inherit;
    border: none;
    display: block;
    margin: 0 auto;
}

.card:hover {
    outline: 2px solid orange;
}

.card .post-link a {
    color: #004590;
}



.card .post-link a:hover {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

h4.card-title:hover {
    text-decoration: none!important;
}

article {
    max-width: 700px;
    margin: 0 auto;
}

.navbar-nav > li {
    margin-top: -8px;
    margin-bottom: -8px;
}

.navbar-nav > li > a {
    border: 8px solid transparent;  
}

.navbar-nav > li > a.active {
    border-bottom: 8px solid orange;
    font-weight: 600;
}

.navbar-nav > li > a:hover {
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 8px;
}

button.navbar-toggler {
    background-color: white;
}

button.navbar-toggler:hover {
    background-color: orange;
}

#bodyContent {
    font-size: 1.05rem;
}

#bodyContent p a {
    color: inherit;
    text-decoration: none;
    border-bottom-color: orange;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

#bodyContent p a:hover {
    background-color: orange;
    transition: box-shadow .15s ease-in-out;
}

.bannerImage {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 80px 25px 0 273px;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}



/* page menu bar */
#pageMenuBar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #3c3c3c;
    border-right: 1px solid #eee;
    width: 48px;
    cursor: pointer;
}

#pageMenuBar:hover {
    background-color: #666670;
    cursor: pointer;
}

#pageMenuBar hr {
    border-color: white;
    height: 2px;
}

#pageMenuBar .leftArrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    margin: auto;
}

#pageMenuBar .rightArrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    margin: auto;
}

#pageMenuBar .collapseBarText {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    padding: 15px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

/* page menu */
#pageMenu {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 48px;
    z-index: 1000;
    display: block;
    padding-right: 3px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: white;
    border-right: 1px solid #eee;
    width: 200px;
}

#pageMenu .pageMenu-title {
    padding-top: 10px;
    font-weight: 600;
    color: darkslategrey;
    font-size: 1.25rem;
    padding-left: 15px;
}

/* anchors credit: https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
h2.anchor {
    position: relative;
}

h2.anchor span {
    position: absolute;
    top: -70px;
}

nav ol{
    padding-left: 20px;
    
}

nav ol li {
    list-style: none;
    font-size: 1.1rem;
    line-height: 1.3;
    border-width: 0 0 0 3px;
    border-style: solid;
    border-color: transparent;
    padding: 2px 0 2px 4px;
    margin-top: 4px;
    margin-right: 5px;
}

nav ol li:hover {
    border-left: 3px solid grey;
}

nav ol li a:hover {
    text-decoration: none;
}
/* footer */
footer {
    width: 100%;
    flex-shrink: 0;
    padding-bottom: 20px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
 
    .desktopOnlyText{
        display:none;
    }
    #pageMenuBar .collapseBarText{
        padding: 3px 15px;
    }
}

/*Credit: Antonis Triantafyllopoulos Src=https://codepen.io/kamenos96/pen/LQMxRe*/
/* Tablet and up */

@media screen and (min-width: 768px) {
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        -webkit-transition: none;
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/* Desktop and up */

@media screen and (min-width: 992px) {
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        -webkit-transition: none;
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
