<p>
    If you’re looking to spot and resolve usability issues in your software’s interface before it goes live, 
    few resources are more compact and digestible than Steve Krug’s <i>Rocket Surgery Made Easy</i>. Despite its brevity, 
    this guide packs some powerful tips and a large number of useful illustrations. I highly recommend you get 
    a copy for yourself.
</p>
<p>
    Still, if you find yourself perpetually short on time, here are five key takeaways:
</p>
<h2>1. Testing early and often saves time and money</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur purus ut faucibus pulvinar. Tincidunt augue interdum velit euismod in pellentesque massa. Facilisi etiam dignissim diam quis enim lobortis. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Volutpat diam ut venenatis tellus. Risus feugiat in ante metus dictum. Purus viverra accumsan in nisl nisi scelerisque. Morbi tristique senectus et netus et. Faucibus a pellentesque sit amet porttitor. Nisi quis eleifend quam adipiscing.
    Consectetur purus ut faucibus pulvinar elementum integer. Duis ut diam quam nulla porttitor massa id. Non tellus orci ac auctor augue mauris. Et tortor consequat id porta. Molestie nunc non blandit massa enim nec dui. Porttitor lacus luctus accumsan tortor posuere. Euismod quis viverra nibh cras. Id velit ut tortor pretium viverra suspendisse potenti. Eget duis at tellus at urna. Egestas sed tempus urna et. Aenean et tortor at risus viverra.
</p>
<h2>2. Usability testing works even if you don’t hire experts (it just works better if you do)</h2>
<p>
    Sed libero enim sed faucibus turpis in eu. Fermentum dui faucibus in ornare quam viverra orci sagittis eu. Est placerat in egestas erat. Integer eget aliquet nibh praesent tristique magna sit amet. Ac turpis egestas integer eget aliquet nibh praesent. Eget nulla facilisi etiam dignissim diam quis enim lobortis. Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci. Ut sem viverra aliquet eget sit amet. Eu ultrices vitae auctor eu augue ut lectus arcu bibendum. Pellentesque adipiscing commodo elit at imperdiet. Quis hendrerit dolor magna eget est lorem. Risus quis varius quam quisque id diam vel. Varius vel pharetra vel turpis nunc. Eget duis at tellus at urna condimentum mattis pellentesque id. Tincidunt ornare massa eget egestas purus viverra accumsan in nisl.
</p>
<h2>3. Usability testing can be adapted to organizations of any scale</h2>
<p>
    Rutrum tellus pellentesque eu tincidunt tortor. At elementum eu facilisis sed odio morbi quis commodo odio. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Rutrum quisque non tellus orci ac auctor. Turpis massa sed elementum tempus egestas sed sed risus pretium. Diam maecenas sed enim ut sem viverra.
    Id porta nibh venenatis cras sed felis eget. Eget gravida cum sociis natoque penatibus. Ut pharetra sit amet aliquam. Dolor purus non enim praesent elementum facilisis leo.
</p>
<h2>4. Focus on the big problems and fix them with quick patches</h2>
<p>
    Nisl condimentum id venenatis a condimentum vitae sapien pellentesque. Cursus turpis massa tincidunt dui ut ornare lectus sit amet. Ut faucibus pulvinar elementum integer enim neque volutpat. Adipiscing at in tellus integer feugiat scelerisque varius morbi enim. Dui id ornare arcu odio ut sem nulla pharetra. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. A diam maecenas sed enim ut sem viverra aliquet. Hac habitasse platea dictumst vestibulum rhoncus est. Consectetur adipiscing elit ut aliquam purus sit amet luctus. Commodo viverra maecenas accumsan lacus vel. Viverra nibh cras pulvinar mattis nunc sed. Sed euismod nisi porta lorem mollis aliquam ut porttitor. Risus at ultrices mi tempus imperdiet nulla. Tincidunt ornare massa eget egestas purus viverra accumsan in. Et pharetra pharetra massa massa
    ultricies mi.
</p>
    
