@{
    ViewData["Title"] = "My Blog";
}
<!--Specify which navbar button is active in menu-->
<script>
    var btn = document.getElementById('blogBtn');
    btn.classList.add('active');
</script>
<h2>@ViewData["Title"] (under construction)</h2>

            

