<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags for BS4 -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Matt Morse</title>

    <!-- Development environment -->
    <environment include="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous" />
        <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> -->
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <!-- Production environment -->
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-primary">
        <a class="navbar-brand text-light" asp-area="" asp-controller="AboutMe" asp-action="Index">Matt Morse</a>
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-light">
                <li class="nav-item">
                    <a class="nav-link text-light" id="aboutMeBtn" asp-area="" asp-controller="AboutMe" asp-action="Index">about me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" id="projectsBtn" asp-area="" asp-controller="Projects" asp-action="Index">projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" id="blogBtn" asp-area="" asp-controller="Blog" asp-action="Index">blog</a>
       
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="https://docs.google.com/document/d/1R83Hvra5CXyLNa6aJi11ymKzMUpT88-aztU0WeAqGtg/edit?usp=sharing" target="_blank">r&eacute;sum&eacute;</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        contact me
                    </a>
                    <div class="dropdown-menu">
                        <h6 class="dropdown-header d-inline">Email me at:</h6>
                        <button class="btn btn-secondary btn-sm d-inline" type="button" onclick="copyText('myEmail')" style="float:right; margin-right:5px;">copy</button>
                        <span class="dropdown-item-text d-inline-block" id="myEmail" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="copied to clipboard">
                            matt.morse1988@gmail.com
                        </span>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header" style="display:inline;">Call or text me at:</h6>
                        <button class="btn btn-secondary btn-sm" type="button" onclick="copyText('myNumber')" style="display:inline; float:right; margin-right:5px;">copy</button>
                        <span class="d-inline-block dropdown-item-text" id="myNumber" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="copied to clipboard">
                            (509) 690-2687
                        </span>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <partial name="_PageMenu" />

    <div class="container-fluid d-flex flex-column body-content" id="bodyContent">
        @RenderBody()
        <footer>
            <hr />
            <p>&copy; 2018 - M. Gordon Morse - Full-Stack Software Developer</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
