<div id="pageMenuBar" onclick="togglePageMenu()">
    <div class="arrow leftArrow"></div>
    <hr />
    <div class="collapseBarText text-center"><span class="desktopOnlyText">click to <span class="swappedText">collapse</span></span> page menu</div>
    <hr />
    <div class="arrow leftArrow"></div>
</div>
<div id="pageMenu" aria-expanded="true">
    <h3 class="pageMenu-title">on this page</h3>
    <nav>
        <ol>
            @{
                var SectionHeadings = ViewData["SectionHeadings"] as string[];
                foreach (var heading in SectionHeadings)
                {
                <li>
                    <a asp-controller="AboutMe" asp-action="Index" asp-fragment="@heading">@heading</a>
                </li>   
                }
            }
        </ol>
    </nav>
</div>

