<div id="pageMenuBar" onclick="togglePageMenu()">
    <div class="arrow leftArrow"></div>
    <div class="arrow rightArrow"></div>
    <hr />
    <div class="collapseBarText text-center">page menu</div>
    <hr />
    <div class="arrow leftArrow"></div>
    <div class="arrow rightArrow"></div>
</div>
<div id="pageMenu" aria-expanded="true">
    <h3 class="pageMenu-title">on this page</h3>
    <nav>
        <ol>
            @{
                var SectionHeadings = ViewData["SectionHeadings"] as string[];
                foreach (var heading in SectionHeadings)
                {
                    <li>
                        <a asp-controller="AboutMe" asp-action="Index" asp-fragment="@heading">@heading</a>
                    </li>
                }
            }
        </ol>
    </nav>
</div>
